<div class='container px-5 px-sm-0'>
  <h4 class="font-weight-normal mt-3">検索ページ</h4>

      <div class="row justify-content-center">
          
        <div class="popular-heading common-heading">エリアで絞る</div>
            <%= render 'user/searches/search_form' %>
            
        <div class="popular-heading common-heading">タグで絞る</div>
            <%= render 'user/genres/search_form', genre: @genre, post: @posts %>
            
        <div class="tag-box">
        <%= link_to "全ての投稿", posts_path, class: 'btn btn-success' %>
        </div> 
        
      </div>
      
      <div>
        <%= form_with url: filter_path, local: true, method: :post do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit "filter", class: ""  %>
        <% end %>
      </div>
      
      <%= render 'user/users/index', posts: @posts %>
</div>