<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-11 col-lg-11  mx-auto">
   <br>
     <div id= "review_comments-count">コメント件数：<%= reviews.count %></div>
      <div class= 'table table-light'>
       <% reviews.each do |review| %>
         <div class="row mb-3">
           <div class="col-1">
             <%= image_tag review.user.get_profile_image(30,30), class: 'rounded-circle' %>
           </div>
           <div class="col-8">
             <%= review.user.user_name %>
           </div>
           <div class="col-12">
              <small class="text-black-50">
                <%= review.created_at.strftime('%Y/%m/%d') %>
              </small>
           </div>
           <div class="col-12">
              <div class="rate_view" data-score="<%=review.score%>"></div>
           </div>
           <div class="col-12">
              <%= review.comment %><br>
              <% if review.user == current_user %>
               <%= link_to 'Destroy', post_review_path(@post.id, review.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %></td>
              <% end %>
           </div>
         </div>
       <% end %>
     </div>
<!--星評価　-->
        <script>
        $(document).on('turbolinks:load', function () {
          $('.rate_view').empty();
          let elements = document.getElementsByClassName('rate_view');
          for( let i = 0;i < elements.length; i++) {
            let element = elements[i];
            raty(element, {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              readOnly: true,
              score: function() {
                return $(this).attr('data-score');
              },
            });
        　}
        });
        </script>
<!--星評価ここまで-->
   </div>
  </div>
</div>