<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <% if @post.images.attached? %>
      <div class= "photos">
        <% @post.images.each do |image| %>
            <div class="photo">
              <%= image_tag image.variant(resize_to_limit: [300, 300]), class: "img-fluid" %>
            </div>
        <% end %>
      </div>
    <% end %>

          <div class="card-body">
            <small class="text-right text-black-50">
              <%= @post.created_at.strftime('%Y/%m/%d') %>
            </small>
            <br>
            <h6 class="title font-weight-bold mb-3">
              <%= @post.title %>
            </h6>
            <div class="text">
              <%= image_tag @post.user.get_profile_image(30,30), class: 'rounded-circle' %>
              <%= @post.user.user_name %>
              <div class="my-3">ここは『<%= @post.playground %>』
                <span id="bookmark_post_<%=@post.id%>">
                  <%= render 'user/bookmarks/bookmark', post: @post %><!--ブックマーク機能-->
                </span>
              </div>
              <div class="mb-3">
                <%= @post.genre.name %> | <%= @post.area.name %>
              </div>
              <div class= "text">
                <%= @post.text %>
              </div>
              
              <!--コメントリスト-->
              <div id = "review_post">
              <%= render 'user/reviews/comment_list', reviews: @reviews %>
              </div>
              <!--自分の投稿=>編集、他人の投稿=>コメント-->
               <p>
                <% if @post.user == current_user %>
                       <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
                       <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
                <% else %>
                      <%= render 'user/reviews/form', review: @review, post: @post %>
                <% end %>
              <!--編集・コメント機能ここまで-->
　   </div>
</div>