<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span>Playground</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
             
                 <!--admin側のheaderを返す-->
                   <li>
                    <%= link_to admin_root_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-house"></i>Top
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-camera-retro"></i>投稿一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user-plus"></i>会員一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-place-of-worship"></i>ジャンル一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_areas_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-location-dot"></i>エリア一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                    <% end %>
                  </li>
                  
              <% elsif user_signed_in? %>
                 <!--userログイン状態の際に、表示したいheaderのメニューを記載-->
                  <li>
                    <%= link_to posts_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-house"></i>新着投稿一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to search_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-magnifying-glass"></i>検索ページ
                    <% end %>
                  </li>
                  <li>
                    <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user"></i>マイページ
                    <% end %>
                  </li>
                  <li>
                    <%= link_to user_bookmarks_path(current_user.id), class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-bookmark"></i>ブックマーク一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                    <% end %>
                  </li>
                  
                <% else %>
                 <!--adminでもuserでもログインしていない時に表示するheaderのメニューを記載-->
                  <li>
                    <%= link_to root_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-house"></i>Top
                    <% end %>
                  </li>
                  <li>
                    <%= link_to about_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-place-of-worship"></i>About
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user-plus"></i>新規会員登録
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-to-bracket"></i>ログイン
                    <% end %>
                  </li>
              <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="row justify-content-center">
      <p class="text-primary mt-3" ><%= flash[:notice] %></p>
</div>